@charset "UTF-8";
body{
    margin:0; 
    padding: 0;
}

header{
    background: #4169e1; 
    padding: 15px 30px; 
    color: #fff;
}

h1{
    text-align:center;
}

span{
    font-family: 'Pacifico', cursive; 
    font-size: 60px; 
    line-height: 30px
}

figure > img{
    margin: auto;      
}

footer{
    background:  #4169e1; 
    padding: 15px 30px; 
    color: #fff
}